VITE_SUPABASE_URL=https://hdsjpsrvoiwqfjuehdkt.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_RaEElu5W8Kt-SRaV4rewXg_KUUu8Huj
VITE_VAPID_PUBLIC_KEY=BKrKmaJAVOmZTPtFfuXMhNatJzts4OKDG4ZnE_amZRKiXcl5t6Fpwe55uBT9EnNGKIAoZbXE3af4ZEXtfLj4bFw
